* {
    box-sizing: border-box;
  }
  /* Fixez le bouton sur le côté gauche de la page the button on the left side of the page */
  .open-btn {
    position: fixed;
    bottom: 60px;
    right: 140px;
  }


  /* Style du premier bouton 'Connect' */
  .connect-button {
    background-color: #1c87c9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
  }

  /* La forme Popup */
  .form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-45%, 5%);
    border: 2px solid #666;
    z-index: 9;
  }
  /* Style du conteneur */
  .form-container {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
  }
  /* Champs de saisie */
  .form-container input[type="text"]{
    width: 100%;
    padding: 20px;
    margin: 10px 0 22px 0;
    border: none;
    background: #eee;
  }
  /* Quand les entrées sont concentrées, faites quelque chose */
  .form-container input[type="text"]:focus{
    background-color: #ddd;
    outline: none;
  }
  /* Style du bouton 'Connect' */
  .form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  /* Style du bouton 'Close' */
  .form-container .cancel {
    background-color: #cc0000;
  }
  /* Effets boutons */
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }